.header {
    
    font-family: Inter;
    padding: 36px 0 25px 0;

    h2 {
        margin: 0;
    }

    .container {
        position: relative;
    }

    &__content {
        display: flex;
        justify-content: space-between;

        h2 {
            color: #000;

            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        ul {
            list-style: none;
            text-decoration: none;
            display: flex;
            text-align: center;
            gap: 30px;
            margin: 0;
            padding: 0;

            input {
                border: none;
                outline: none;
            }
        }

        label {
            display: flex;
            align-items: center;
            gap: 11px;
        }

        a {
            text-decoration: none;
            color: #000;

            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}

.burger {
    display: none;

    &-lines {
        display: flex;
        flex-direction: column;
        gap: 4px;
        position: absolute;
        top: 28%;
        right: 0;
        z-index: 10;
    }

    &-line {
        background: #000;
        width: 26px;
        height: 3px;
    }



    &-menu {
        background: #fff;
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0%;
        left: 0%;
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 9;


        ul {
            list-style: none;
            text-decoration: none;
            text-align: center;
            gap: 30px;
            padding: 0;

            input {
                border: none;
                outline: none;
            }

            li {
                margin-bottom: 10px;
            }

            a {
                text-decoration: none;
                color: #000;

                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }
}

.active {
    display: flex;
}

@media screen and (max-width: 750px) {
    .header {
        &__content {
            ul {
                display: none;
            }
        }
    }

    .burger {
        display: block;
    }
}